name: Avito Alert

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:


permissions:
  contents: write
  
jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          SEARCH_URL: ${{ secrets.SEARCH_URL }}
        run: python main.py

      - name: Commit updated seen_links
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add seen_links.txt
          git commit -m "Update seen links" || echo "No changes to commit"
          git push
